annotated-types
anyio
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
fastapi
filelock
h11
idna
Jinja2
langcodes
langdetect
markdown-it-py
MarkupSafe
mdurl
murmurhash
numpy
packaging
phonenumbers
preshed
presidio-analyzer
presidio-anonymizer
pybind11
pycryptodome
pydantic
pydantic_core
Pygments
PyYAML
regex
requests
requests-file
rich
shellingham
six
smart_open
spacy
spacy-legacy
spacy-loggers
srsly
starlette
thinc
tldextract
tqdm
typer
typer-slim
typing-inspection
typing_extensions
urllib3
uvicorn
wasabi
weasel
wrapt
